.Cell {
  flex: 1;
  min-width: 200px;
  max-width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  border: 1px solid purple;
  cursor: pointer;
  color: #D32F2F;
  top: 150px;
}

.Cell:hover {
  background-color: #e4e4e4;
}

.Cell p {
  width: 100%;
  text-align: center;
  font-size: 60px;
}
